/* Survey Custom Style */
.YourCompanyNameSurveyResults 
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
}
.surveyresulttemplateUL
{

}
.surveyresulttemplateLI
{

}